body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
.header{
  background-color: #232323;
  height: 80px;
  padding-top: 30px;
  border-bottom: orangered solid 5px;
}

.header .nav .current a, 
.header span{
  color: orangered;
}

.container{
  /* Largura */
  width: 80%; 
  margin: auto;

  height: 50px;
}

.title-header h1,
.nav ul
{
  margin: 0;
}

.title-header{
  float: left;
  color: #ffffff;
}

.nav{
  float: right;
}

.nav a{
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
}

.nav li{
  display: inline-block;
  padding: 20px;
  padding: 10px 20px 0 20px;
}
